.breakdance .bric-google-maps-locations-v2 {
  position:relative; 
  width:100%;
}

.breakdance .bric-google-maps-locations-v2 .map-embed {
   position:relative;
   overflow:hidden;
   aspect-ratio: 1 / 1;
   /*padding-top:56%;*/
   display:block;
   width:100%;
   height: auto;
}

.breakdance .bric-google-maps-locations-v2 .google-map {
  height:100%;
  width:100%;
  background-color:#e0e0e0;
}

.locations-icons {
  display:none;
}