.breakdance .bde-post-loop {
  max-width: 100%;
  width: 100%;
}

.breakdance .creare-accordion-loop,
.breakdance .creare-accordion-loop .accordion-header {
  width:100%;
}

.breakdance .creare-accordion-loop .accordion-button {
  text-align:left;
}
