<div id="rscalendar-%%ID%%" data-button-class="button-atom--{{ design.form.button.style|default('primary') }}" class="rscalendar-wrapper breakdance-form breakdance-form--vertical">Loading Booking Calender...</div>
<div id="rsbooking-link-%%ID%%">
  <a class="button-atom button-atom--{{ design.form.mobile_button.style }} mobile-booking-button" href="https://guest.rezstream.com/search/{{ content.data.business }}">{{ content.data.button_text|default('Book Now') }}</a>
</div>